body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2727e4;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
} 